<section class="registration">
    <section class="registration__header">
        <h1 class="registration__title">Registro conducta de estudiante</h1>
        <button class="registration__button">Nuevo registro</button>
    </section>
    <section class="registration__content">
        <table class="registration__table">
            <thead>
                <tr>
                    <th class="registration__table-header">Documento</th>
                    <th class="registration__table-header">Nombre Completo</th>
                    <th class="registration__table-header">Programa academico</th>
                    <th class="registration__table-header">Fecha novedad</th>
                    <th class="registration__table-header">Observaciones</th>
                    <th class="registration__table-header">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="registration__table-row">
                    <td class="registration__table-cell">Nombre</td>
                    <td class="registration__table-cell">Apellido</td>
                    <td class="registration__table-cell">Curso</td>
                    <td class="registration__table-cell">Fecha</td>
                    <td class="registration__table-cell">Observaciones</td>
                    <td class="registration__table-cell-actions">
                        <button class="registration__edit-button">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                        <button class="registration__delete-button">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</section>